/* @import "tablet.css"  screen and (min-width : 420px);
@import "desktop.css"  screen and (min-width : 1024px); */
@import 'main-email.css';

*{
    Box-sizing:border-box;
}
    
html,body{
    height: 100vh;
	margin: 0;
}
/********************miss-keep header********************  */

.miss-keep-app h1{
   text-align: center;
    text-shadow: 5px 2px 2px lightblue;
    background-color: aliceblue;
    border-radius: 25px;
    font-size: 30px;
    padding: 5px; 
}


/****************** input container************** */
.container{
    display: flex;
    flex-direction: row;;
    justify-content: center;
    border:2px outset gray;
    width: 60%;
    margin: auto 
}
.input-form{
    margin: auto 10px;

}

.input-form input{
    height: 30px;
}
.new-list-img{
    height: 60px;
    width: 60px;
}

.new-list{
    height: 40px;
    width: 40px;
    margin: auto 0;
}

/************************ tool tip ***********************88*/
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    cursor: pointer;
    margin: auto 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.pin{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 48%;
}

/***************************** text note*****************************888*/


.text-note{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid lightblue;
    width: 70%;
    padding: 10px;
    margin: auto;
    transition: .4s;
}

#txt-box{
        resize: none;
        width: 90%;
        min-height: 100px;
        padding: 5px;
        overflow: hidden;
        box-sizing: border-box;
        background-color: inherit;
    
}

.input-form-header{
    display: flex;
    flex-direction: row;

}

.input-form-header input{
    height: 30px;
    width: 80%;
    background-color: inherit;

}


.edit-text-note{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
}
/*****************new image note ******************8 */

/* .new-img-list{
background-color: inherit;
} */
.upload-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container{
    background-size: cover;
    height: 200px;
    width: 200px;
    border: 2px solid lightblue;
    background-position: center center;
}



.input-src{
    display: flex;
    flex-direction: row;
}


/**************************List note************************/


.toDo-container{
    border: 2px solid lightblue;
    padding: 10px;
}

.input-task-container, li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #efefef;
	/* background-color:7E8EB; */
}

.title-list{
    width: 90%;
    height: 20px;
    background-color: inherit;
}
/* Task  area */

.list li {
	background-color: aliceblue;
}

.list li button {
	background-color: transparent;
	border: 1px solid #E91E63;
	color: #ddd;
	font-size: 20px;
	font-weight: bold;
}
.text-input{
    background-color: inherit;
}



.list label {
	padding-right: 10px;
	display: inline-block;
	width: 70%;
	font-size: 18px;
	line-height: 24px;
	z-index: 2;
    overflow: hidden;
    background-color: aliceblue;
}

.list li.done label {
	text-decoration: line-through;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/**************** notes created presented in a list************************/
.notes-created{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.note-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media(min-width:420px){/* tablet  */
}

@media(min-width:1024px){/* desktop */
}