 /**************************List note************************/
 
  .new-list-note{
    border: 2px solid lightblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    box-shadow:#FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(45, 178, 255) 0px 0px 20px, rgb(45, 178, 255) 0px 0px 30px, rgb(45, 178, 255) 0px 0px 40px, rgb(45, 178, 255) 0px 0px 50px, rgb(45, 178, 255) 0px 0px 75px;

}
.toDo-container{
    margin: auto;
}
.new-list-note input{
    background-color: antiquewhite;
}
.input-task-container, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
    /* background-color:7E8EB; */
}
.list-item{
    width: 90%;
}
.title-list{
    height: 20px;
    background-color: inherit;
    display: block;
    margin: auto;
}
/* Task  area */

.list li {
    background-color: aliceblue;
}

.list li button {
    background-color: transparent;
    border: 1px solid #E91E63;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
}
.text-input{
    background-color: inherit;
}

.list label {
    padding-right: 10px;
    display: inline-block;
    width: 70%;
    font-size: 18px;
    line-height: 24px;
    z-index: 2;
    overflow: hidden;
    background-color: aliceblue;
    
}



.list li.done label {
    text-decoration: line-through;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#html5colorpicker{
    display: block;
    margin: auto;
}
@media(min-width:700px){

    .new-list-note{
          width: 500px;
    }
    }