

/********************miss-keep header********************  */

.app-title{
    text-align: center;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(45, 178, 255) 0px 0px 20px, rgb(45, 178, 255) 0px 0px 30px, rgb(45, 178, 255) 0px 0px 40px, rgb(45, 178, 255) 0px 0px 50px, rgb(45, 178, 255) 0px 0px 75px;
    color: darkblue;  
    font-size: 40px;
     padding: 5px;
     margin: 10px; 
 }
 
 
 /****************** input container************** */
 .container{
     display: flex;
     flex-direction: row;;
     justify-content: center;
     border:2px outset gray;
     width: fit-content;
     margin: auto;
     box-shadow:#FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, rgb(45, 178, 255) 0px 0px 20px, rgb(45, 178, 255) 0px 0px 30px, rgb(45, 178, 255) 0px 0px 40px, rgb(45, 178, 255) 0px 0px 50px, rgb(45, 178, 255) 0px 0px 75px;

 }
 .input-form{
     margin: auto 10px;
 
 }
 
 .input-form input{
     height: 30px;
 }
 .new-img{
     height: 60px;
     width: 60px;
 }
 
 .new-list{
     height: 40px;
     width: 40px;
     margin: auto 0;
 }
 
 /************************ tool tip ************************/
 .tooltip {
     position: relative;
     display: inline-block;
     cursor: pointer;
     margin: auto 0;
 }
 
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     margin-left: -60px;
     opacity: 0;
     transition: opacity 0.3s;
 }
 
 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #555 transparent transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }
 
 .pin{
     height: 30px;
     width: 30px;
     cursor: pointer;
     margin: 0 48%;
 }
 
 button{
    background-color: antiquewhite;
    opacity: 0.9;
    border: 2px solid darkblue;
    border-radius: 25px;
    font-family: cursive;
    margin: 5px;
}


 @media(min-width:700px){/* tablet  */
 }
 
 @media(min-width:1024px){/* desktop */
 }