

/********************miss-keep header********************  */

.miss-keep-app h1{
    text-align: center;
     text-shadow: 5px 2px 2px lightblue;
     background-color: aliceblue;
     border-radius: 25px;
     font-size: 30px;
     padding: 5px; 
 }
 
 
 /****************** input container************** */
 .container{
     display: flex;
     flex-direction: row;;
     justify-content: center;
     border:2px outset gray;
     width: 60%;
     margin: auto 
 }
 .input-form{
     margin: auto 10px;
 
 }
 
 .input-form input{
     height: 30px;
 }
 .new-list-img{
     height: 60px;
     width: 60px;
 }
 
 .new-list{
     height: 40px;
     width: 40px;
     margin: auto 0;
 }
 
 /************************ tool tip ************************/
 .tooltip {
     position: relative;
     display: inline-block;
     cursor: pointer;
     margin: auto 0;
 }
 
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 125%;
     left: 50%;
     margin-left: -60px;
     opacity: 0;
     transition: opacity 0.3s;
 }
 
 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #555 transparent transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }
 
 .pin{
     height: 30px;
     width: 30px;
     cursor: pointer;
     margin: 0 48%;
 }
 

 @media(min-width:420px){/* tablet  */
 }
 
 @media(min-width:1024px){/* desktop */
 }