
 /**************** notes created presented in a list************************/
 .notes-created{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 50px 0 50px;

 }
 
 .note-item{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }